apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: argocd-server
  ports:  
  - name: http
    nodePort: 30080
    port: 80
    targetPort: 8080
  - name: https
    nodePort: 31334
    port: 443
    targetPort: 8083
